
# Ignore build folder , uncomment if to ignore the build dir
#build/

# Ignore log files
*.state

# Ignore Temporary folder
tmp/

# Ignore vscodes folder (all inside .vscode too).
.vscode/

# Ignore reference files.
references/

*.track
